{% extends 'layouts/base.html' %} {% block title %}
<title>{{ title }}</title>
{% endblock %} {% block content %}
<main class="container home">
  <div class="row">
    <div class="col-12">
      <div class="card text-center rounded-4">
        <h3 class="fw-bolder">DAFTAR HADIR RAPAT</h3>
        <table class="table table-bordered text-center">
          <thead>
            <tr>
              <th scope="col">No</th>
              <th scope="col">Hari/Tanggal</th>
              <th scope="col">Lokasi</th>
              <th scope="col">Agenda</th>
              <th scope="col">Peserta</th>
            </tr>
          </thead>
          <tbody>
            {% for rapat in rapats %}
            <tr>
              <td>{{loop.index}}</td>
              <td>{{rapat.tanggal}}</td>
              <td>{{rapat.tempat}}</td>
              <td class="text-start">{{rapat.agenda}}</td>
              <td>
                <a href="{{ url_for('input_absen', id=rapat.id ) }}"><i class="bi-people"></i></a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>
{% endblock %}
