{% extends 'layouts/base.html' %} {% block title %}
<title>{{ title }}</title>
{% endblock %} {% block content %}
<main class="container home">
  <div class="row">
    <div class="col-12">
      <div class="card text-center rounded-4">
        <h3 class="fw-bolder">DAFTAR HADIR RAPAT</h3>
        <table class="table table-bordered text-center border border-5">
          <thead class="bg-dark">
            <tr class="text-light">
              <th scope="col">No</th>
              <th scope="col">Hari/Tanggal</th>
              <th scope="col">Lokasi</th>
              <th scope="col">Agenda</th>
              <th scope="col">Peserta</th>
            </tr>
          </thead>
          <tbody>
            {% for rapat in rapats.items %}
            <tr>
              <td>{{loop.index}}</td>
              <td>{{rapat.tanggal}}</td>
              <td>{{rapat.tempat}}</td>
              <td class="text-start">{{rapat.agenda}}</td>
              <td>
                <a href="{{ url_for('peserta_rapat', agenda_id=rapat.id, page_num=1 ) }}"><i class="bi-people"></i><span class="badge text-bg-secondary ms-2">{{rapat.absens|length}}</span></a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            {% if rapats.page != 1 %}
            <li class="page-item"><a class="page-link" href="{{ url_for('daftar_hadir', page_num=1 ) }}">First</a></li>
            {% else %}
            <li class="page-item disabled"><span class="page-link">First</span></li>
            {% endif %} {% if rapats.has_prev %}
            <li class="page-item"><a class="page-link" href="{{ url_for('daftar_hadir', page_num=rapats.prev_num ) }}">Previous</a></li>
            {% else %}
            <li class="page-item disabled"><span class="page-link">Previous</span></li>
            {% endif %}
            <li class="page-item disabled"><span class="page-link">Page {{rapats.page}} of {{rapats.pages}}</span></li>
            {% if rapats.has_next %}
            <li class="page-item"><a class="page-link" href="{{ url_for('daftar_hadir', page_num=rapats.next_num ) }}">Next</a></li>
            {% else %}
            <li class="page-item disabled"><span class="page-link">Next</span></li>
            {% endif %} {% if rapats.has_next %}
            <li class="page-item"><a class="page-link" href="{{ url_for('daftar_hadir', page_num=rapats.pages ) }}">Last</a></li>
            {% else %}
            <li class="page-item disabled"><span class="page-link">Last</span></li>
            {% endif %}
          </ul>
        </nav>
      </div>
    </div>
  </div>
</main>
{% endblock %}
