/* General */
:root {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: var(--font-primary);
  color: var(--color-text);
}

body {
  background-image: url("../img/background.jpg");
  padding-top: 5rem;
}

/* LOGIN */
/* .form-signin{
  
} */
.form-signin .card {
  padding: 15px;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-signin p {
  font-size: 10px;
}

/* NAVBAR */
.offcanvas .profile i {
  font-size: 10rem;
  margin-bottom: -1.5rem;
}
.offcanvas .sign-out i {
  font-size: 1.5rem;
}
.offcanvas .card {
  padding: 15px;
}
.offcanvas input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.offcanvas input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* HOME */
.home .card {
  padding: 10px;
}
.home img {
  width: 40%;
}
.home .bi-link {
  cursor: pointer;
}
.home .checklist span i {
  visibility: hidden;
}

/* INPUT ABSEN */
.input-absen .card {
  padding: 10px;
}
.input-absen #sig-canvas {
  border: 2px dotted #cccccc;
  border-radius: 15px;
  cursor: crosshair;
}
.input-absen .link {
  cursor: pointer;
}

/* DAFTAR HADIR */
.daftar-hadir .card {
  padding: 10px;
}
.daftar-hadir .btn {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

/* PESERTA */
.peserta .card-judul {
  padding: 20px;
}
.peserta .card-peserta {
  padding: 10px;
}
.peserta table i {
  cursor: pointer;
}

/* DETAIL PESERTA */
.detail-peserta .card {
  padding: 20px 30px;
}
