/* General */
:root {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: var(--font-primary);
  color: var(--color-text);
}

body {
  /* min-height: 75rem; */
  padding-top: 5rem;
}

/* LOGIN */
.form-signin {
  margin-top: 8rem;
}
.form-signin .row {
  width: 30%;
}
.form-signin .card {
  padding: 15px;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-signin img {
  width: 65%;
  top: -40px;
}
.form-signin h1 {
  font-family: "Cooper Black", sans-serif;
}
.form-signin p {
  font-size: 10px;
}

/* NAVBAR */
.offcanvas .profile i {
  font-size: 10rem;
  margin-bottom: -1.5rem;
}
.offcanvas .sign-out i {
  font-size: 1.5rem;
}
.offcanvas .card {
  padding: 15px;
}
.offcanvas input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.offcanvas input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* HOME */
.home .card {
  padding: 10px;
}
