<header class="fixed-top">
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container">
      <a href="/" class="navbar-brand d-flex align-items-center">
        <strong>DAFTAR HADIR ONLINE</strong>
      </a>
      {% if current_user.name %}
      <button class="btn" data-bs-toggle="offcanvas" data-bs-target="#needlogin" aria-controls="offcanvasRight">
        <span class="navbar-toggler-icon"></span>
      </button>
      {% else %}
      <button class="btn" data-bs-toggle="offcanvas" data-bs-target="#notlogin" aria-controls="offcanvasRight">
        <span class="navbar-toggler-icon"></span>
      </button>
      {% endif %}
    </div>
  </div>
</header>

<!-- Navbar Offcanvas -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="needlogin" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="row profile text-center mb-5">
      <i class="bi-person-circle text-secondary"></i>
      <h3 class="fw-bolder">{{current_user.name}}</h3>
    </div>
    <div class="row sign-out">
      <a href="{{ url_for('index' ) }}" class="btn btn-secondary d-flex align-items-center justify-content-center mb-2"><i class="bi-arrow-right-circle me-2"></i>Check-In</a>
      <button class="btn btn-secondary d-flex align-items-center justify-content-center mb-2" data-bs-toggle="modal" data-bs-target="#modal-input"><i class="bi-journal-plus me-2"></i>Buat Daftar Hadir</button>
      <a href="{{ url_for('daftar_hadir', page_num=1 ) }}" class="btn btn-secondary d-flex align-items-center justify-content-center mb-2"><i class="bi-journal-text me-2"></i>Daftar Hadir Rapat</a>
      <a href="{{ url_for('logout' ) }}" class="btn btn-dark d-flex align-items-center justify-content-center"><i class="bi-box-arrow-right me-2"></i>Sign Out</a>
    </div>
  </div>
</div>

<!-- Navbar Offcanvas -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="notlogin" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="row profile text-center mb-5">
      <i class="bi-person-circle text-secondary"></i>
      <h3 class="fw-bolder">Public User</h3>
    </div>
    <div class="row sign-out">
      <a href="{{ url_for('index' ) }}" class="btn btn-secondary d-flex align-items-center justify-content-center mb-2"><i class="bi-arrow-right-circle me-2"></i>Check-In</a>
      <a href="{{ url_for('daftar_hadir', page_num=1 ) }}" class="btn btn-secondary d-flex align-items-center justify-content-center mb-2"><i class="bi-journal-text me-2"></i>Daftar Hadir Rapat</a>
      <a href="{{ url_for('login' ) }}" class="btn btn-dark d-flex align-items-center justify-content-center"><i class="bi-box-arrow-in-right me-2"></i>Sign In</a>
    </div>
  </div>
</div>

<!-- Modal Input -->
<div class="modal fade" id="modal-input" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form action="" method="post">
        <div class="modal-body">
          <h5 class="text-center fw-bolder">BUAT DAFTAR HADIR</h5>
          <div class="form-floating mb-2">
            <input type="date" class="form-control" id="floatingInput" placeholder="Masukkan taggal" name="tanggal" required />
            <label for="floatingInput">Tanggal</label>
          </div>
          <div class="form-floating mb-2">
            <input type="time" class="form-control" id="floatingInput" placeholder="Masukkan waktu" name="waktu" required />
            <label for="floatingInput">Waktu</label>
          </div>
          <div class="form-floating mb-2">
            <input type="text" class="form-control" id="floatingInput" placeholder="Masukkan lokasi rapat" name="tempat" required />
            <label for="floatingInput">Lokasi</label>
          </div>
          <div class="form-floating mb-2">
            <input type="text" class="form-control" id="floatingInput" placeholder="Isi jika rapat secara virtual (online meeting)" name="link" />
            <label for="floatingInput">Link Online Meeting (Jika Rapat Virtual)</label>
          </div>
          <div class="form-floating">
            <input type="text" class="form-control" id="floatingInput" placeholder="Masukkan judul agenda rapat" name="agenda" required />
            <label for="floatingInput">Agenda</label>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-dark">Buat</button>
        </div>
      </form>
    </div>
  </div>
</div>
